@page
@model ToDo_Test.Pages.TOSModel
@{
}
<!DOCTYPE html>
<html lang="en">

<body class="text-center flex-fill">
    <nav class="navbar navbar-light navbar-expand-lg bg-dark navigation-clean">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><button class="btn btn-dark bg-success" type="button">TERMS OF SERVICE</button>
            <div class="collapse navbar-collapse text-dark" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item text-dark"><a class="nav-link active link-danger bg-success" href="Home" style="color: #fefefe;">Home</a></li>
                </ul>
            </div>
        </div>
    </nav><img src="https://i.chzbgr.com/full/9596952832/hA0302FBB/funny-meme-about-how-people-never-read-the-terms-and-conditions-kathryn-hahn-wandavision-winking" style="margin-top: 2px;margin-right: 2px;margin-bottom: 2px;margin-left: 2px;padding: 2px;">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>